@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.container {
  background: rgba(191, 191, 239, 0.35);  
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(160, 150, 235, 0.745);
  
}

.pageTitle {
  text-align: center;
  margin-bottom: 25px;
  font-size: 2rem;
  font-weight: 600;
   font-family:'Bangers', cursive;

  
}

.sortBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 25px;
}

.sortSelect {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.empty {
  text-align: center;
  margin-top: 40px;
  font-size: 1.2rem;
  opacity: 0.6;
}

/* Group heading */
.showGroup {
  margin-bottom: 35px;
}

.showTitle {
  margin-bottom: 12px;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Grid of episode cards */
.episodeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 15px;
}

/* Episode card styling */
.episodeCard {
  background: #ffffff;
  padding: 15px;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(160, 150, 235, 0.745);
  transition: 0.2s ease;
  background: var(--card-bg);
  color: var(--card-text);
}

.episodeCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(92, 75, 225, 0.923);
}

.episodeTitle {
  font-weight: 600;
  margin-bottom: 6px;
}

.meta {
  font-size: 0.85rem;
  color: #666;
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: var(--card-text);
}

.date {
  opacity: 0.7;
  
}