.controls {
 display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;         
  margin-bottom: 1.5rem;
  flex-wrap: wrap;          
  
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.Recommended {
  font-weight: bold;
  display: flex;
  font-size: 25px;
  background: rgba(191, 191, 239, 0.35);
  max-width: fit-content;
  padding: 10px;
  border-radius: 10px;
}


@media (min-width: 667px) {
  .controls {
    flex-direction: row;
    align-items: flex-end;
    gap: 1.5rem;
  }

.Recommended {
   display: flex;
  align-items: center;
  justify-content:center;
  margin-left: 5px;
}

}



