.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

@media (min-width: 667px) {
  .controls {
    flex-direction: row;
    align-items: flex-end;
    gap: 1.5rem;
  }

.Recommended {
   display: flex;
  align-items: center;
  justify-content:center;
  margin-left: 5px;
}

}

.Recommended {
  font-weight: bold;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content:left;
  margin-left: 140px;
  font-size: 30px;
  background: rgba(191, 191, 239, 0.35);
  max-width: fit-content;
  padding: 10px;
  border-radius: 10px;
}


