.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
}

@media (min-width: 768px) {
  .controls {
    flex-direction: row;
    align-items: flex-end;
    gap: 1.5rem;
  }
}

.Recommended {
  font-family:'Bangers', cursive;
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: rgba(235, 235, 246, 0.462) ;
}

