
.card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(160, 150, 235, 0.745);
  cursor: pointer;
  transition: transform 0.2s;
   background: var(--card-bg);
  color: var(--card-text);
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(92, 75, 225, 0.923);
}

.card img {
  width: 100%;
  border-radius: 6px;
}

.card h3 {
  margin: 0.5rem 0;
}

.card p {
  margin: 0px;
  font-size: 0.8rem;
  color: var(--grey-text);

}

.tags {
  margin: 0.5rem 0;
 
  
}

.tag {
  background-color: grey;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  display: inline-block;
  font-size: 0.8rem;
  background-color: var(--genre-color);
  color: var(--card-text);
  
  
}

.updatedText {
  font-size: 0.8rem;
  color: var(--grey-text);
  
}
