.searchInput {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  box-shadow: 0 1px 3px  rgba(191, 191, 239, 0.35);
  font-size: 1rem;
  margin: 20px;
}

@media (min-width: 768px) {
  .searchInput {
    width: 50%;
  }
}
