.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background: #1a1a1a;
  color: white;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px 15px;
  z-index: 1000;
}

.playBtn {
  background: #ffffff22;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.slider {
  flex: 1;
}

.time {
  font-size: 13px;
  opacity: 0.8;
}