.carouselContainer {
  position: relative;
  width: 100%;
  max-width:  1250px;   
  height: 275px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: rgba(191, 191, 239, 0.35);
   border-radius: 10px;
}

.carouselTrack {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carouselItem {
  flex: 0 0 250px;  
  margin: 0 10px;
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(159, 142, 243, 0.425);
}

.imageWrap {
  width: 100%;
  height: 160px;     
  object-fit: cover; 
  border-radius: 10px;
}

.genres {
  margin-top: 8px;
  display: flex;
  gap: 6px;
  justify-content: center;
  flex-wrap: wrap;
}

.genreTag {
  padding: 4px 8px;
  background: rgba(191, 191, 239, 0.649);
  border-radius: 6px;
  font-size: 12px;
}

.navButton {
  position: fixed;
  top: 50%;
  transform: translateY(-10%);
   background: rgb(191, 191, 239);
  border: solid black 1px;
  padding: 15px;
  cursor: pointer;
  z-index: 4;
  border-radius: 30%;
  box-shadow: 0 2px 6px rgba(92, 65, 228, 0.842);
}

.navButton:first-of-type {
  left: 10px;
}

.navButton:last-of-type {
  right: 10px;
}

