.tags {
  margin: 0.5rem 0;
}

.tag {
  background: rgba(191, 191, 239, 0.649);
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  display: inline-block;
  font-size: 0.8rem;
  color: var(--card-text);
  background-color: var(--genre-color);
}
