@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* Entire header container */
.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between; /* space between logo and right side */
  padding: 0.9rem 1.6rem;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(160, 150, 235, 0.745);
  font-family: 'Bangers', cursive;
  border-bottom: 2px solid #e7e7ff;
  background: var(--card-bg);
    color: var(--card-text);
  
  
}

/* Left side: logo + text */
.appHeader h1 {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 35px;
  
  
}

.appHeader a {
  text-decoration: none;
  color: #222;
  display: flex;
  align-items: center;
  gap: 10px;
   color: var(--card-text);
}

.appHeader a:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

/* Logo image */
.logo {
  height: 50px;
  width: 50px;
  object-fit: contain;
  
}

/* Right side navigation buttons */
.headerRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Favourites button styling */
.favebtn {
  font-size: 1.4rem;
  padding: 0.4rem 0.7rem;
  border-radius: 6px;
  background: rgba(191, 191, 239, 0.35);
  border: 1px solid rgba(94, 94, 180, 0.35);
  transition: 0.25s ease;
}

.favebtn:hover {
  box-shadow: inset 0 0 5px rgba(115, 106, 246, 0.634);
  transform: translateY(-1px);
}

/* Light/Dark mode button, icons, etc. */
button {
  cursor: pointer;
  font-size: 1.5rem;
   
}

button:hover {
  opacity: 0.7;
  transition: 0.2s ease-in-out;
   box-shadow: inset 0 0 5px rgba(115, 106, 246, 0.634);
  transform: translateY(-1px);
}